services:
  app:
    build:
      dockerfile: Dockerfile.dev
    ports:
      - 8000:8000
    environment:
      RUST_LOG: debug
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_REGION: aws-ses-v2-local
      AWS_ENDPOINT_URL: http://aws-ses-v2-local:8005
      APP_SECRET: insert-app-secret
      HIVE_URL: http://nyckeln:7004/api/v1
      HIVE_SECRET: 1234567890abcdefabcdef
  smtp:
    image: changemakerstudiosus/papercut-smtp
    container_name: smtp
    ports:
      - 8080:8080
      - 2525:2525
    environment:
      Urls: http://0.0.0.0:8080
      SmtpServer__Port: 2525

  aws-ses:
    container_name: aws-ses-v2-local
    hostname: aws-ses-v2-local
    image: ghcr.io/domdomegg/aws-ses-v2-local
    environment:
      AWS_SES_ACCOUNT: '{"SendQuota":{"Max24HourSend":1000000,"MaxSendRate":250,"SentLast24Hours":0}}'
      SMTP_TRANSPORT: '{"host":"smtp","port":2525,"secure":false}'
    working_dir: /srv/www/dist
    ports:
      - "8005:8005"
    expose:
      - 8005

  nyckeln:
    image: ghcr.io/datasektionen/nyckeln-under-dorrmattan
    configs:
      - source: nyckeln.yaml
        target: /config.yaml
    ports:
      - 7004:7004

configs:
  nyckeln.yaml:
    content: |
      hive:
        tokens:
          - secret: aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
            permissions:
            - id: send

